.services{
    padding:80px 8%;
    background:#eef4ff;
}

.services h2{
    text-align:center;
    font-size:40px;
    color:#2563eb;
    margin-bottom:10px;
}

.sub-title{
    text-align:center;
    color:#666;
    margin-bottom:50px;
    font-size:18px;
}

.service-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:30px;
}

.service-card{

    background:rgba(255,255,255,.7);

    backdrop-filter:blur(18px);

    border-radius:20px;

    padding:35px;

    text-align:center;

    transition:.4s;

    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.service-card:hover{

    transform:translateY(-10px);

    background:white;
}

.service-icon{

    width:80px;

    height:80px;

    background:linear-gradient(135deg,#2563eb,#06b6d4);

    margin:auto;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:32px;

    margin-bottom:20px;
}

.service-card h3{

    font-size:24px;

    margin-bottom:15px;

    color:#1f2937;
}

.service-card p{

    color:#666;

    line-height:1.7;
}