.top-doctors{
    padding:80px 8%;
    background:white;
}

.top-doctors h2{
    text-align:center;
    color:#2563eb;
    font-size:40px;
}

.top-doctors p{
    text-align:center;
    color:#666;
    margin:15px 0 50px;
}

.doctor-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:30px;
}

.doctor-card{

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    text-align:center;

    transition:.4s;
}

.doctor-card:hover{

    transform:translateY(-10px);
}

.doctor-card img{

    width:100%;

    height:300px;

    object-fit:cover;
}

.doctor-card h3{

    margin-top:20px;

    font-size:24px;
}

.doctor-card span{

    color:#2563eb;

    display:block;

    margin:10px 0 20px;
}

.doctor-card button{

    margin-bottom:25px;

    border:none;

    background:#2563eb;

    color:white;

    padding:12px 25px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

.doctor-card button:hover{

    background:#1d4ed8;
}