.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}

.modal{
    width:450px;
    padding:30px;
    border-radius:20px;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(25px);
    border:1px solid rgba(255,255,255,.2);
    color:white;
}

.modal h2{
    margin-bottom:20px;
}

.modal form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.modal input{
    padding:14px;
    border:none;
    outline:none;
    border-radius:12px;
    background:rgba(255,255,255,.15);
    color:white;
}

.modal input::placeholder{
    color:#ddd;
}

.modal-buttons{
    display:flex;
    justify-content:flex-end;
    gap:15px;
    margin-top:10px;
}

.cancel-btn{
    padding:12px 22px;
    border:none;
    border-radius:10px;
    background:#ef4444;
    color:white;
    cursor:pointer;
}

.save-btn{
    padding:12px 22px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}